{%extends "base.html" %}

{% block content %}
<div class="jumbotron card card-image" style="background-image: url(https://lh3.googleusercontent.com/proxy/68W9U9vyUhMQJ-28yOb11990yxEiNPCQ2uZtTP4kf-H19FeWSbpmNCkbnWZ2m7T6C2V32HIUzAUcHD7zcLeZvqIcxkbKAUg2mxR21ejtRgZuoAWto9WlOEMQvGUl)">
    <div class="text-white text-center py-5 px-4">
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>If you're reading this, it means this feature is broken.
            Apologies for the inconvenience, I promise I worked hard on it :(.
        </strong></h2>
    </div>
</div>
{% endblock %}