{% extends "base.html" %}

{% block content %}
<div class="jumbotron card card-image" style="background-image: url(https://media.istockphoto.com/videos/white-particles-in-the-ink-video-id844721022?s=640x640);">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Inquire.</strong></h2>
        <p class="mx-5 mb-5">Stay curious and follow the latest news. Keep updated on latest technology, the hottest sports and follow your favorite entertainment outlets. Inquire.
        </p>
      </div>
    </div>
  </div>

  <div class="row ow-cols-md-3">
  <div class="card-deck mx-auto">
    <div class="card-group">
      <div class="card border-dark mb-3" style="width: 40rem;">
        <img class="card-image-top"src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Technology</h5>
          <a class="btn btn-outline-dark"href="/tech">Go there</a>
        </div>
      </div>
      <div class="card border-dark mb-3" style="width: 40rem;">
        <img class="card-image-top"src="https://images.unsplash.com/photo-1562571758-400e09ba69a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <a class="btn btn-outline-dark"href="/sports">Go there</a>
        </div>
      </div>
      <div class="card border-dark mb-3" style="width: 40rem;">
        <img class="card-image-top"src="https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Entertainment</h5>
          <a class="btn btn-outline-dark"href="/entertainment">Go there</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}