{%extends base.html%}

{% block content %}
    {% for article in articles %}
    <div class="col-10 mr-12" >
        <div class="card border-secondary">
            <img class="card-img-top"src={{article.urlToImage}} alt={{article.urlToImage}}>
            <div class="card-body">
                <h3 class="card-title"><b>{{article.title}}</b></h3>
                <h5 class="card-subtitle mb-2 text-muted">{{article.publishedAt}}</h5>
                <h6 class="card-text">{{article.description}}</h6>
                <a class="btn btn-outline-dark"href={{article.url}}>Source</a>

            </div>
        </div>
        
    </div>
    {% endfor %}
{% endblock %}